appdirs==1.4.3
BeautifulSoup==3.2.1
beautifulsoup4==4.5.3
click==6.7
Flask==0.12.1
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
packaging==16.8
pprint==0.1
pyparsing==2.2.0
six==1.10.0
Werkzeug==0.12.1
gevent
bs4==0.0.1
greenlet==0.4.12
multiprocessing==2.6.2.1
simplejson==3.10.0
appdirs==1.4.3
asn1crypto==0.22.0
BeautifulSoup==3.2.1
beautifulsoup4==4.5.3
bs4==0.0.1
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
click==6.7
cryptography==1.9
enum34==1.1.6
idna==2.5
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
multiprocessing==2.6.2.1
packaging==16.8
pprint==0.1
pycparser==2.18
pyOpenSSL==17.1.0
pyparsing==2.2.0
requests==2.18.1
simplejson==3.10.0
urllib3==1.21.1
